<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tooltip.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Pedidos.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/FuncionesGenerales.js?1"></script>
    <script type="text/javascript" src="~/js/tooltip.js"></script>
    <script type="text/javascript" src="~/js/d3.colores.js"></script>
    <!--<script type="text/javascript" src="~/js/d3.layout.cloud.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pedidos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="EstadosRepublicas">Estados República</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="ERPastel">Mapas Estados República</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="TotalesEstadoRep">Totales Estados República</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="TotalesEstadosRegion">Totales República Region</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="TotalesEstadosGrupos">Totales República Grupos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mapas" asp-action="MapaMexico">Mapa México</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                                onmouseover="tooltip.show('Descargar documento de la gráfica en formato PDF')"
                                onmouseout="tooltip.hide();"
                                onclick="tooltip.hide();GenerarPDF();">
                            <i class="fa fa-file-pdf"></i>
                            Descarga
                        </button>
                        <br />
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" 
                            onmouseover="tooltip.show('Generar vista previa de la gráfica')"
                            onmouseout="tooltip.hide();"
                            onclick="tooltip.hide();GenerarVisorPDF();" >
                            <i class="fa fa-save"></i>
                            Vista previa
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="contenedor">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        SetupDescarga();
    </script>
</body>
</html>
