@{
    ViewData["Title"] = "Estados de la Republica";
}

<script type="text/javascript" src="~/js/Utilerias/d3.layout.cloud.js"></script>
<script type="text/javascript" src="~/js/Graficas/EstadosRepublica.js"></script>

<!-- Región de trabajo -->
<div id="panel" data-prefix="EstadosRepbublica.PDF">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Estados de la República</h1>
        </div>
    </div>
    <div id="panelLetras" class="text-center"></div>
</div>

<script type="text/javascript">
    words = null;

	var width = 900;
	var height = 400;

	// Init de la página
	$(document).ready(function () {
		estadosRepublica();
		RenderizadoPalabras();
	});
	
	function estadosRepublica() {
		envioGenericos("/Reporte/estadosRepublica", null, llenadoData);
	}

	function llenadoData(data) {
		words = data;
	}
</script>