@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/mx.js"></script>
<script src="~/js/topojson.js"></script>
<script src="~/js/informacionGraficaMexico.js"></script>
<script src="~/js/dom-to-image.min.js"></script>

<!-- Región de trabajo -->
<div id="panel" data-prefix="MapaMexico.PDF">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="text-center" id="tituloGrafica">República Mexicana</h1>
		</div>
	</div>
	<div id="chart" class="text-center"> </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		RenderizaMapa();
	})

	// Ejemplos que vale la pena revisar:
	// http://bl.ocks.org/KoGor/5685876
	// https://gist.github.com/diegovalle/5129746

	var width = 780,
	height    = 750;
	var data  = [];

	function RenderizaMapa() {
		d3.select("svg").remove();

		$("#chart").html("");
		LlenadoData();

		var projection = d3.geo.albers()
						   .center([101.4, 21.7])
						   .rotate([195, 30])
						   .parallels([13, 30])
						   .scale(1200 * 1.3)
						   .translate([width / 3, height / 3.5]);

		var path = d3.geo.path()
				     .projection(projection);

		var svg = d3.select("#chart").append("svg")
				    .attr("id", "MapaMexico")
				    .attr("width", width)
				    .attr("height", height - 300);

		svg.selectAll(".subunit")
			.data(topojson.object(mx, mx.objects.subunitsM).geometries)
			.enter().append("path")
			.attr("class", function (d) { return "subunit " + d.id; })
			.attr("stroke-width", ".5")
			.attr("stroke", "black")
			.attr("d", path)
			.attr("fill", function(d){
				return colorEstadoRelleno(d.id);
			})
			.attr("opacity", function(d){
				return colorEstadoOpacidad(d.id);
			})
			.on("mouseover", function (d) {
				d3.select(this).attr("fill", "#1E605A");
				var mensaje = valorEstado(d.id);
				tooltip.show(mensaje);
			})
			.on('click', function (d, i) {
				tooltip.hide();
				alert("Aquí pudieses hacer lo que tu quisieras (desplegar un modal, redirigir a otra página, etc. etc. etc.");
			})
			.on("mouseout", function (d) {
				tooltip.hide();
				d3.select(this).attr("fill", colorEstadoRelleno(d.id));
			})
	}
	
	function valorEstado(siglaEstado) {
		var mensaje = "";

		console.log(siglaEstado);
		console.log(data);

		const resultado = data.find(pos => pos.sigla === siglaEstado);

		if (resultado != null && resultado != undefined) {
			mensaje = "Estado: " + resultado.estadoRepublica +
				", Cantidad: " + resultado.cantidad;
			
				return mensaje;
		}

		mensaje = "Estado: " + siglaEstado +
			", Cantidad: 0";

		return mensaje;
	}

	function colorEstadoRelleno(siglaEstado) {
		const resultado = data.find(pos => pos.sigla === siglaEstado);
		
		if (resultado != null && resultado != undefined) {
			var cantidad = parseInt(resultado.cantidad);
			if (cantidad == 0) {
				return "white";
			}
		}

		return "maroon";
	}

	function colorEstadoOpacidad(siglaEstado) {
		var maximo = Math.max.apply(Math, data.map(function (o) { return parseInt(o.cantidad); }))
		const resultado = data.find(pos => pos.sigla === siglaEstado);

		if (resultado != null && resultado != undefined) {
			var cantidad = parseInt(resultado.cantidad);
			if (cantidad == 0) {
				return 1;
			}

			var opacidad = (cantidad / maximo);

			return opacidad;
		}

		return 0;
	}

	function GenerarVisorPDF(){
		var divid = "panel";
		let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150')
		
		mywindow.document.write($("#"+divid).html());
		mywindow.document.close();
		mywindow.focus();
		mywindow.print();
		mywindow.close();
		
		return true;
	}

	function GenerarPDF(){
		getImgFromSVG(function(img){
			generatePDF(img)
		})
	}

	function generatePDF(img){
		var doc = new jsPDF();
		var imgData = img;
		
		doc.setFontSize(40);
		doc.text(30, 20, $("#tituloGrafica").html());
		doc.addImage(imgData, 'JPEG', 0, 40, 200, 160);
		doc.save($("#panel").data("prefix"));
	}

	function getImgFromSVG(callback){
		var node = document.getElementById('chart');
		domtoimage.toPng(node)
				  .then(function(dataUrl){
					var img = new Image();
					img.src = dataUrl;
					img.onload = function() {
						callback(img)
					}
				  })
				  .catch(function(error){
					alert("ups");
			      })
	}
</script>
